html {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    background-color: lightblue;
}

header {
    text-align: center;
    border: 30px;
    background-color: #00B8B5;
}

h1 {
    color: black;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

figcaption {
    color: teal;
}

div {
    color: teal;
}

p {
    color: teal;
}

#landing, #about, #hobbies {
    display: grid;
    column-gap: 50px;
}

#portrait {
    width: 50%;
    float: left;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#pages {
    border: 2px black;
    width: 70%;
    padding: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
}

a:hover {
    color:black;
}

a:link {
    text-decoration: underline;
    color:gray;
}

#images {
    grid-column-start: 1;
    grid-column-end: 2;
}

#bio {
    grid-column-start: 3;
    grid-column-end: 4;
}

#hobby1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#hobby2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#hobby3 {
    grid-column-start: 3;
    grid-column-end: 4;
}